@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #171717;
  --foreground: #ffffff;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #ededed;
    --foreground: #0a0a0a;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

.cards{
    margin: 30px auto;
    max-width: 400px;
  }

  .example-5 {
    position: relative;
  }
  
  .example-5 svg {
    position: absolute;
  }
  
  .example-5 .line {
    stroke-dasharray: 260;
    stroke-width: 1px;
    fill: transparent;
    stroke: rgba(78, 255, 13, 0.3);
    animation: svgAnimation 2.5s linear infinite;
  }
  
  @keyframes svgAnimation {
    from {
      stroke-dashoffset: 0;
    }
    to {
      stroke-dashoffset: 1000;
    }
  }
  
  .card {
    max-width: 400px;
    width: 50%;
    margin: 100px auto;
    border-radius: var(--border-radius);
  }
  
  .card .inner {
    padding: 25px;
    background: #222;
    color: #fff;
    border-radius: var(--border-radius);
  }
  
  .card h3 {
    margin-bottom: 15px;
  }

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
